body {
  /* background: #282E3A; */
  /* background-color: #282E3A; */
  background-image:url("https://images.pexels.com/photos/8850856/pexels-photo-8850856.jpeg?cs=srgb&dl=pexels-tara-winstead-8850856.jpg&fm=jpg");
  object-fit:cover ;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: #fff;
  text-align: center;
  font-size: 5em;
  letter-spacing: 11px;
  padding: 10px
}
#geeks-countdown {
  width: 850px;
  margin: 10% auto;
}
#clock span {
  float: left;
  text-align: center;
  font-size: 84px;
  margin: 0 2.5%;
  color: #fff;
  padding: 20px;
  width: 20%;
  border-radius: 20px;
  box-sizing: border-box;
}
#clock:after {
  content: "";
  display: block;
  clear: both;
}
#units span {
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}
span.turn {
  animation: turn 1s ease forwards;
}
@keyframes turn {
  0% {
      transform: rotateY(360deg)
  }
  100% {
      transform: rotateY(0deg)
  }
}
.container-fluid {
  padding: 2% 8%;
}

.navbar{
  padding: 3 3 3.5em;
  padding-bottom: 0;
}

.gon{
  color: #8E418B;
  font-size: 1.3em;
}
.penta {
  color: green;
  font-size: 1.3em;
}

.navbar-brand{
  font-family: 'Spectral', 'serif';
  font-size: 2.2em;
  font-weight: bold;
  text-decoration: none;
}

.nav-item{
  padding: 0 15px;
  
}

.nav-link{
  font-family:'Spectral', 'serif';
  font-weight: bold;
  font-size: 1.2em;
}

.nav-button {
  margin: 5% 3% 5% 0;
}